[2013-08-24 07:42] bjornblissing opened #6 "Calculation of projectionCenterMatrix need to factor in distortion scale for correct FOV"
Should include something like the SDK version:

[code]

[2013-08-28 09:18] #6 closed, assigned to bjornblissing

[2013-09-12 08:17] bjornblissing opened #7 "Investigate if near/far cull settings should be moved from slave camera to main camera"
During testing I have experienced some odd near clipping issues. Investigate if near/far cull settings should be moved from slave camera to main camera.

In short moving the following statement from RTT Camera to main viewer camera.

[code]

[2013-09-18 11:09] #7 closed, assigned to bjornblissing

[2014-04-22 07:39] bjornblissing opened #9 "Move to the new C interface found in Oculus SDK 0.4"
The new SDK (v0.3.1) contains a brand new C interface. There also exists two different options for rendering SDK assisted rendering, and game rendering aka DIY-rendering.

[2014-05-16 02:39] mungewell opened #10 "Unable to use only the tracker (ie. with no display)"
Maybe I'm missing something but the viewer does not seem to pick up and use the tracker for orienting the items on the display.

Disclaimer is that I don't have a real Rift instead I am using this project, which works with the official Oculus SDK....
https://github.com/yetifrisstlama/Foculus_Rift_Tracker_STM32F3DISCOVERY

Is it possible to enable the tracker, even when the (proper) display device

[2014-05-16 09:06] #10 closed, assigned to bjornblissing

[2014-06-13 05:20] west036 opened #11 "Should disable the rendering of main camera to increase frame rate"
camera->setcullmarsk

[2014-06-23 09:12] #11 closed, assigned to bjornblissing

[2014-06-24 06:02] benbennett opened #12 "Units calibrated using the 0.3.2 SDK will give -90 or -pi/2 off for rotation."
Don't know if it is configuration issue or what.
Starting the example looking strait ahead is looking up.
Looking strait down looks at the cow.
I have a fix but I am trying to figure out if it is just a configuration issue or if I am missing something.

[2014-06-24 09:24] bjornblissing opened #13 "Add support for resetting the sensor"
It can be good to be able to reset the sensor, since the orientation can start to drift or be initialized in wrong direction.

[2014-06-24 09:29] #13 closed, assigned to bjornblissing

[2014-06-25 07:38] #12 closed, assigned to nobody

[2014-08-01 22:57] #9 closed, assigned to bjornblissing

[2014-08-01 23:01] bjornblissing opened #14 "Implement support for TimeWarp"
Implement support for TimeWarp. This will require changes to distortionMesh and shaders.

[2014-08-01 23:01] bjornblissing opened #15 "Implement support for chromatic aberration correction"
Implement support for chromatic aberration correction. This will require changes to distortionMesh and shaders.

[2014-08-01 23:03] bjornblissing opened #16 "Implement support for positional tracking"
Implement support for positional tracking. Oculus Rift Developer Kit 2 and camera required for testing.

[2014-08-14 11:07] #15 closed, assigned to bjornblissing

[2014-08-19 07:13] #14 closed, assigned to bjornblissing

[2014-08-19 07:13] #16 closed, assigned to bjornblissing

[2014-09-06 18:20] bjornblissing opened #22 "Crash when setting vertices for warp shader using Mac with Intel Iris graphics processor"
Stack trace:

[code]

[2014-09-08 14:09] bjornblissing opened #23 "TimeWarp shader not working when running with emulated device"
TimeWarp shader do not work correctly when running with an emulated device.

[2014-09-08 14:11] #23 closed, assigned to bjornblissing

[2014-09-11 07:36] #22 closed, assigned to bjornblissing

[2014-09-15 07:19] west036 opened #24 "Whether osgoculusviewer will support custom scaling factor method to increase FOV?"
DK1 version has this function, not now, I think this method can increase the Fov, do not know the new version is considered contain the function.
Thanks.

[2014-10-23 14:56] bjornblissing opened #25 "Support SDK assisted rendering"
Add support for the Oculus SDK based distortion rendering.

[2014-10-24 02:25] west036 opened #26 "Wrong order of matrix multiplication ？"
Hi bjornblissing,
Observing objects at close range (less than 1 meters), and rotating head (ear to shoulder), can cause the eyes to misfocus.I found in the code of the matrix multiplication sequence of head rotation and eye offset may be wrong, according to the following code modifications, the problem disappears. This problem also exists in OculusCompositeViewer  and  OculusViewConfig.
Sorry abou

[2014-10-25 18:59] #26 closed, assigned to bjornblissing

[2014-11-03 19:53] Factoid opened #29 "Rendering to DK2 in Linux: Window size and position incorrect"
On Ubuntu 14.10, my DK2 display shows up in portrait orientation, but the viewer creates a window seems to assume landscape. I'm interested in helping to debug the issue, but I wanted to make sure this was actually a bug and not a failure on my part to properly configure the display settings.

As far as I can tell, this results in the left eye being rendered where the right eye should be, with the

[2014-11-05 02:18] mungewell opened #30 "CompositeViewer - Segfault"
Previous version (ie. Oct 27) worked OK, now I am getting a segfault when running the Composite viewer. Other viewers function OK.

Seen below without Rift connected, I have a 'fake' rift and don't want that to confuse the issue.

[code]

[2014-11-05 08:01] #30 closed, assigned to bjornblissing

[2015-01-09 14:16] bjornblissing opened #33 "Support direct mode in Windows"
Support direct mode rendering in Windows.

[2015-01-09 14:18] #33 closed

[2015-01-09 15:32] bjornblissing opened #34 "Enable toggling of settings"
Enable users to interactively toggle HMD capabilities such as:
* DynamicPrediction
* LowPersistence
* MirrorView in direct mode

[2015-01-14 15:25] bjornblissing commented on #25
An experimental branch is setup which tries to solve this. But as of yet is unsuccessful. Branch can be found here:
http://github.com/bjornblissing/osgoculusviewer/tree/sdk-rendering

[2015-01-14 15:28] #29 closed

[2015-02-09 13:34] #34 closed

[2015-02-12 15:48] bjornblissing opened #35 "Add Oculus Health and Safety Warnings"
Oculus VR requires every application to display the Oculus Health and Safety Warnings before each session.

[2015-02-12 15:51] #35 closed

[2015-02-13 16:50] bjornblissing opened #36 "Console outputs OpenGL errors in direct mode"
The console window outputs OpenGL errors when running in OculusViewConfigExample and OculusViewerExample (OculusCompositeViewerExample works without errors).

```Warning: detected OpenGL error 'invalid operation' at after RenderBin::draw(..)```

[2015-02-13 16:57] bjornblissing commented on #36
Enabled OpenGL debugging in OpenSceneGraph by setting the environment variable:

``` OSG_GL_ERROR_CHECKING=ON ```

This gave the more detailed error message:

``` Warning: detected OpenGL error 'invalid operation' after applying attribute Viewport ```

But deeper debugging showed that the ``` glGetError ``` flag was not cleared before reaching this point inside OpenSceneGraph.

So I was forced to

[2015-02-13 16:59] #36 closed

[2015-02-16 13:02] bjornblissing opened #37 "Use Oculus SDK functions to time Oculus Health and Safety Warnings"
The Oculus SDK contains functions for handling the timing of appropriate display time of the Oculus Health and Safety Warnings.

``` ovrHmd_GetHSWDisplayState() ``` starts the time and returns the current state.
``` ovrHmd_DismissHSWDisplay() ``` tries to dismiss the warning. Returns false if the warning time is not reached.

[2015-02-16 13:04] #37 closed

[2015-02-17 08:52] bjornblissing opened #38 "Disable desktop composition when running in extended mode"
When running in extended mode we need to disable desktop composition in Windows to avoid judder.
This can be done by code by calling the ```DwmEnableComposition``` function. This function is deprecated in Windows 8 and later.

[2015-02-17 08:55] #38 closed

[2015-02-17 11:56] bjornblissing opened #39 "Including cstdint gives compiler errors on Kubnutu 14.10"
When compiling on Kubnutu 14.10 the following error:
[code]

[2015-02-17 11:57] #39 closed

[2015-02-17 13:12] bjornblissing opened #40 "Set process as HIGH_PRIORITY_CLASS in Windows"
Try to set process as ```HIGH_PRIORITY_CLASS``` when running in windows to make sure that as few other processes as possible interfere.

[2015-02-17 13:13] #40 closed

[2015-02-19 19:18] danjo133 commented on #25
Hi, I'm trying to build your branch on Linux, and after some changes I have gotten it to build, but it crashes with a SIGSEGV giving this backtrace:

#0  0x00000000004877b1 in OVR::SDKWindow::getVisualFromDrawable(unsigned long, XVisualInfo*) ()
#1  0x0000000000459a3a in OVR::CAPI::GL::Context::InitFromCurrent() ()
#2  0x0000000000456e24 in OVR::CAPI::GL::HSWDisplay::RenderInternal(ovrEyeType, ovr

[2015-02-19 21:10] bjornblissing commented on #25
@danjo133 Yes, this is one of the errors I have come across while trying to get the SDK based rendering to work. There seem to be something wrong with the order the rendering contexts are being initialized from OSG contra what the SDK expects.

[2015-02-19 21:36] danjo133 commented on #25
@bjornblissing Ok, good and bad news then..

I'll spend some time tomorrow looking in to it as well.

On another note, some windows specific things (HWND) has gotten into the interface for the SDK renderer, do you prefer to have ifdefs there or to move those things into the cpp-file? (If you're interested in my changes I can create a PR)

[2015-02-19 22:42] bjornblissing commented on #25
@danjo133 If it is possible to keep the same function or at least similar functions, then I prefer the ```ifdef``` route.

I already use some ```#ifdef _WIN32``` in the  master branch regarding process priorities. I think the correct macro for Linux is  ```#ifdef __linux__```.

Feel free to send me a PR if you have something that compiles on Linux. Just try to keep the style of your code consisten

[2015-05-20 23:51] #25 closed

[2015-05-22 11:47] bjornblissing opened #46 "Support 0.6.0.1 version of Oculus SDK"
The new version of the Oculus SDK requires some reworking. Only SDK based distortion rendering is supported. So the client distortion rendering code have to be removed.

Oculus have also paused all support for Linux and Mac, so this version will be for Windows only.

[2015-05-22 11:50] bjornblissing commented on #46
An experimental branch is setup which tries to solve this. But as of yet is not complete, since it throws a lot of error messages and have serious flickring. Branch can be found here:
https://github.com/bjornblissing/osgoculusviewer/tree/sdk-v0.6

[2015-05-24 07:39] danjo133 commented on #46
Will you leave a branch for the previous sdk so that it can continue being used on Linux?

[2015-05-24 16:24] bjornblissing commented on #46
@danjo133 Yes, I will probably do a 0.5.0.1 branch before merging the development for the 0.6.0.0 branch.

[2015-06-09 16:05] ChrisDenham opened #47 "Picking up inter pupil distance IPD from Oculus Configuration Utility."
This may be a misunderstanding on my part, but I'm wondering why the function "OculusDevice::calculateEyeAdjustment()" does not seem to pickup the IPD setting from the Oculus Configuration Utility (at least in SDK 0.5.0.1)?

 I seem to get the same values for left and right eye positions regardless of the IPD setting in the configuration. I always get positions x=-0.032m and x=+0.032m  i.e. IPD=64

[2015-06-09 16:36] bjornblissing commented on #47
Well, I have not tried this my self. But the values for the IPD is contained in the ``` m_eyeRenderDesc```  array. This array should be initialized in the ```OculusDevice::initializeEyeRenderDesc()``` function, which in turn calls the Oculus SDK function ```ovrHmd_GetRenderDesc()```.

Could you try using a debugger to inspect the values returned from that Oculus SDK function?

[2015-06-09 18:09] ChrisDenham commented on #47
The positions I got were using the debugger on:
ovrVector3f leftEyeAdjust = m_eyeRenderDesc[0].HmdToEyeViewOffset;
ovrVector3f rightEyeAdjust = m_eyeRenderDesc[1].HmdToEyeViewOffset;
I assumed those structures were filled by a call to ovrHmd_GetRenderDesc(), but I'll check that.
Thanks.

[2015-06-09 18:27] ChrisDenham commented on #47
Yep, OculusDevice::initializeEyeRenderDesc() fills those structures by calling ovrHmd_GetRenderDesc, so I'm at a loss to understand why it's not giving me the configured IPD as the eye offsets.

[2015-06-09 20:38] bjornblissing commented on #47
So what you are saying is that the ```ovrHmd_GetRenderDesc()``` function fill the structs with the *correct* IPD information. But when you reach ```OculusDevice::calculateEyeAdjustment()``` these structs have been changed into containing incorrect IPD values (i.e. default values)??

[2015-06-09 22:07] ChrisDenham commented on #47
No, that's not what I was saying. I assume the +0.032 -0.032 positions are filled by the call to ovrHmd_GetRenderDesc call and they are not subsequently modified. But I will check to make 100% sure tomorrow to confirm that is true and they aren't modified before your code gets to use them in the calculateEyeAdjustment function.

[2015-06-10 09:45] ChrisDenham commented on #47
Ok, I can confirm 100% (at least for me on Windows SDK 0.5.0.1) that the values for eye positions returned by ovrHmd_GetRenderDesc() only return values for the default IPD of 64mm. i.e. they are unaffected by changes to the IPD setting in Oculus Configuration Utility.

So, as I see it, there are these possibilities:
1) It's only happening on my setup.
2) I am wrong to expect the eye offset values

[2015-06-10 11:53] bjornblissing commented on #47
Well, it is *not* just your system. I am getting the same values on my computer running the 0.5.0.1 SDK and the 0.6.0.0 runtime.

[2015-06-10 12:57] ChrisDenham commented on #47
Thanks for confirming that. One for the Oculus forums then I guess? Seems odd though, as it implies the stereo image for each eye is potentially being rendered with incorrect camera positions, which could lead it incorrect perception of depth and maybe makes simulator sickness worse than it needs to be?

[2015-06-10 14:07] ChrisDenham commented on #47
Ah, I see 'someone' beat me to the Oculus forum with the same question:
https://forums.oculus.com/viewtopic.php?f=20&t=24132

[2015-06-10 19:05] bjornblissing commented on #47
Well, it seems that this is an Oculus SDK bug. Since Oculus do not fix bugs in older SDKs leaves us with a broken custom IPD setting via the configuration utility. It can be implemented manually, but that would require reading and interpreting the config file located at: ```%localappdata%\Oculus\ProfileDB.json```.

[2015-06-10 20:29] ChrisDenham commented on #47
Thanks very much for following that up. It does seem very odd that such a bug would have gone unnoticed. I wonder if there is another factor here, maybe even something daft like a space in the windows username? I've known sillier theories to be true, so I'll test that tomorrow.

Do you have a feeling for what's left to do to get the 0.6.0.0 version working? Happy to help if there is anything i can

[2015-06-10 21:02] bjornblissing commented on #47
Well, my windows user name have given me problems before (due to it containing the Swedish character ```ö```). So that could be the reason here... Who knows...

Or maybe the profile generated by the 0.6.0.0 runtime is not backwards compatible with 0.5.0.1 SDK.

Regarding the 0.6.0.0 work, see the issue #46 for more details.

[2015-06-10 21:04] bjornblissing commented on #46
User @JeffBail have started investigating why we are getting these error messages and the flickering:
https://forums.oculus.com/viewtopic.php?f=39&t=1885&start=20#p275142

[2015-06-10 21:06] bjornblissing commented on #47
Well, my windows user name have given me problems before (due to it containing the Swedish character ```ö```). So that could be the reason here... Who knows...

Or maybe the profile generated by the 0.6.0.0 runtime is not backwards compatible with 0.5.0.1 SDK.

Regarding the 0.6.0.0 work, see the issue 46 for more details.

[2015-06-10 22:03] ChrisDenham commented on #47
I was having the same problem before installing 0.6.0.0 runtime, so I think that's probably not related.

[2015-06-26 13:33] AlexandraMercier commented on #46
It seems like User @JeffBail found a solution for the flickering. Unfortunatly, when I tried to implement it to the code, the flickering got worse and I got a new error message.

[2015-08-13 07:51] Thantalos opened #49 "Viewer destructor incomplete, restart not possible"
Just tested the viewer in my setup. Works really well, thank you.
Just one bug I came across: When the viewer is closed, it can't be restarted.
I will look into it myself too.

Here just a simple modification of the viewerexample.cpp, demonstrating the issue:

[code]

[2015-08-13 08:03] bjornblissing commented on #49
I guess this is SDK v0.5.0.1 you are using?

My guess would be some resource which is not destructed correctly inside the library.

[2015-08-13 08:50] Thantalos commented on #49
No, this is with v0.6.0.1.0
I would also assume, that there is something missing in the destructor, or destructed in the wrong order.

[2015-08-13 09:03] bjornblissing commented on #49
Well, the v0.6 branch of the osgoculusviewer is still unstable. So I would expect these types of problems. But if you are able to track down the problem we could hopefully fix it.

[2015-08-13 14:30] bjornblissing commented on #46
Fixed mirror texture with:
fb574a357dbd1aed23baab737a7b5c531525d586

This makes the SDK 0.6.0.1 support complete.

[2015-08-13 14:30] #46 closed

[2015-08-13 14:31] bjornblissing opened #50 "Add support for PerfHUD"
Add support for the performance HUD available inside the SDK.

[2015-08-13 15:01] #50 closed

[2015-08-13 19:30] bjornblissing commented on #47
I will close this since this bug only affects the Oculus 0.5 branch.

[2015-08-13 19:30] #47 closed

[2015-08-17 13:39] ChrisDenham opened #52 "Reset sensor orientation required."
Since updating to the 0.6.0.1 version, I've noticed that I seem to need to call  OculusDevice::resetSensorOrientation() i.e. ovrHmd_RecenterPose(m_hmdDevice); every time I restart my application because the default orientation seems to be different from the recentered pose.
Am I doing something wrong? Or do we need to add an explicit call to recenter pose on application/viewer startup?

[2015-08-17 14:09] bjornblissing commented on #49
I have fixed some of these problems in: 6885e52ba13bddb8e3eff18a4a0673e3d2acd41a

But there is still the open issue with the destruction of the mirrorFBO. To handle this we need to be able to detect when the graphic context is about to close and run the destruction of the MirrorTexture.

[2015-08-18 10:11] ChrisDenham commented on #46
Is there a way to get the OSG StatsHandler to show the stats HUD? Does it need merging with the mirror texture? It doesn't seem to work since this update.

[2015-08-18 11:03] bjornblissing commented on #46
The stats handler is normally shown on the main camera view. But right now this view is replaced with the mirror texture from the Oculus SDK.

[2015-08-18 12:36] bjornblissing commented on #46
Best would of course be if we could move the osg stats view into a HUD texture to use with the Oculus SDK layer compositor.

[2015-08-18 12:49] ChrisDenham commented on #46
Aha. I just noticed that I can see the bit of the stats hud I need on the main camera if I maximize the mirror window. Looks weird, but does the job :-)

[2015-08-18 13:43] bjornblissing commented on #46
The mirror texture should actually be replaced each time the mirror window is resized. But that is yet another feature for the future.

[2015-08-18 13:56] ChrisDenham commented on #46
BTW. on a related note, do we actually need to render the main camera? I ask because presumably in single threaded mode, we only have a max of around 4.4ms to render each of the three cameras at 75FPS. It seems  like it might help if we only rendered the two slave cameras (thus giving us up to about 6.6ms to render frame) ? I've noticed some of my scenes are hitting this limit, which makes the ocu

[2015-08-19 11:55] bjornblissing opened #53 "Errors when compiling against OpenSceneGraph 3.4.0"
```osg::FboExtensions``` do not exist in osg 3.4.0. Instead the FBO calls are made using ```osg::GLExtensions```.

The call:
```const osg::FBOExtensions* fbo_ext = osg::FBOExtensions::instance(ctx, true);```

Will have to be replaced with:
```const osg::GLExtensions* fbo_ext = state.get<osg::GLExtensions>();```

[2015-08-19 15:50] ChrisDenham commented on #46
Another question. Since updating to support the 0.6.0.1 SDK, I've noticed that my scenes seem to  be being rendered without antialiasing. Any ideas how to enable it again? The two pictures attached show the difference between rendering the same scene with the the two versions (first one from 0.5.0.1 SDK version, second one from 0.6.0.1 SDK version, both running on the 0.6.0.1 runtime).

![0_5_0_1]

[2015-08-19 20:35] bjornblissing commented on #46
On you first question regarding rendering the main camera even though it is not visible: This is a bug which has propagated since an update I made in the 0.5 branch.

Regarding the aliasing/multisample problem, FBO's which 0.6 uses must be initialized with ```osg::Texture2DMultisample``` instead of ```osg::Texture2D``` to use MSAA.

[2015-08-19 22:22] ChrisDenham commented on #46
Thank you. I'll try the texture2dmultisample tomorrow. If i implement it as an option, would you like me to submit it as a pull request?

[2015-08-20 13:23] ChrisDenham commented on #46
I tried changing the OculusTextureBuffer class to handle the multisample case, but it seems to make no difference to the anti aliasing and I also get OSG reporting OpenGL invalid operation 0x0502.
I then also tried making sure the depth buffer was created with multisample too, but that then just gives a stream of errors:

Which I think equates to error: GL_FRAMEBUFFER_INCOMPLETE_MULTISAMPLE_EXT
So

[2015-08-20 14:00] bjornblissing commented on #46
Well, both the color buffer and the depth buffer must have the same dimensions and number of multi-samples. Otherwise you will get ```GL_FRAMEBUFFER_INCOMPLETE_MULTISAMPLE_EXT```

[2015-08-20 15:43] ChrisDenham commented on #46
Yes, checked that, still no joy. I'm currently musing whether OculusDepthBuffer::setRenderSurface might need a call to glBindFramebuffer like OculusTextureBuffer::setRenderSurface. And whether the argument to glFramebufferTexture2D should be GL_TEXTURE_2D_MULTISAMPLE instead of GL_TEXTURE_2D.

[2015-08-20 16:14] bjornblissing opened #54 "Main camera keeps rendering although result is invisible"
Currently we are spending rendering resources by rendering the main camera. Even though this result is overwritten by the blitting from the swap texture.

[2015-08-20 17:13] #54 closed

[2015-08-20 17:17] bjornblissing commented on #54
@ChrisDenham I have now fixed this bug that you reported.

[2015-08-20 18:19] bjornblissing opened #55 "Support MSAA"
Currently there is no support for antialiasing. To be able to support antialiasing via MSAA the FBOs must be initialized with ```osg::Texture2DMultisample``` instead of ```osg::Texture2D```.

Both the color buffer and the depth buffer must have the same dimensions and number of multi-samples.

[2015-08-20 18:21] bjornblissing commented on #55
@ChrisDenham Please continue the discussion regarding antialiasing in this issue thread.

[2015-08-20 18:23] bjornblissing commented on #46
The previously mentioned bug regarding the main camera needlessly rendering has been assigned the a new issue: #54

The issue of the lack of support for antialiasing has been assigned to the new issue: #55

[2015-08-21 10:00] ChrisDenham commented on #55
I have question about the OculusTextureBuffer construction and it's use of ovrHmd_CreateSwapTextureSetGL. I noticed that this function will create two osg::Texture objects, but both will be assigned to m_texture, and thus, subsequent calls to OculusTextureBuffer::texture() only ever return the second texture that was assigned. Bearing in mind I don't really understand FBO stuff very well, this may

[2015-08-21 10:52] bjornblissing commented on #55
The ```OculusTextureBuffer::m_texture``` member is unique for each instance of ```OculusTextureBuffer``` object. So if you check the pointers that is returned from ```OculusTextureBuffer::texture()``` function you will see that they point to different memory locations.

[2015-08-21 12:12] ChrisDenham commented on #55
Yes, I understand that, but each instance of `OculusTextureBuffer` creates two instances of `osg::Texture2D` (i.e. one for each of the two textures returned by `CreateSwapTextureSetGL`) , but `OculusTextureBuffer::texture()` only returns the second.

[2015-08-21 13:34] bjornblissing commented on #55
Ok. Now I see what you are getting at. Well, that is an unfortunate construct. I will try to change it to something more clear.

But in principal we are creating two FBOs per eye. And then we let the Oculus runtime have access to one and osg to one. During swap we change the current render surface by binding to the FBO with the index referenced in ```m_textureSet->CurrentIndex```.

To create the F

[2015-08-21 13:57] ChrisDenham commented on #55
Does that mean this is probably not related to the problems I am having trying to get the MSAA working? I'm running out of straws to clutch at.

[2015-08-21 16:11] ChrisDenham commented on #55
Another straw to clutch?

`"Texture sets cannot be multisampled - this is an unfortunate restriction of the way the OS treats these textures. If you wish to use MSAA eyebuffers, you must create the MSAA eyebuffers yourself as before, then create matching non-MSAA texture sets, and have each frame resolve the MSAA eyebuffer target into the respective texture set. See the OculusRoomTiny (MSAA) sampl

[2015-08-21 18:10] #53 closed

[2015-08-21 18:12] bjornblissing commented on #55
Well, that example is using DirectX11. So that would require some study to figure out the corresponding GL calls.

[2015-08-24 16:32] ChrisDenham commented on #55
This example looks more useful for OpenGL and Oculus/MSAA:
https://github.com/kondrak/oculusvr_samples

[2015-08-25 13:38] bjornblissing commented on #55
Good find.

This seems to be the important file to study (especially the ```OnRenderMSAAFinish()``` function):
https://github.com/kondrak/oculusvr_samples/blob/master/common_src/renderer/OculusVR.cpp

[2015-08-28 08:53] bjornblissing opened #57 "Support 0.7.0.0 version of Oculus SDK"

[2015-08-28 12:08] #57 closed

[2015-08-28 12:23] bjornblissing opened #58 "Image too bright in Oculus Rift"
The Oculus Rift HMDs operate in the sRGB color. So the applications are expected to create sRGB-correct swap texture sets.

[2015-08-28 12:23] #58 closed

[2015-08-28 13:27] bjornblissing opened #59 "Garbage output for printHMDDebugInfo()"
The function ```printHMDDebugInfo()``` only prints garbage.

[2015-08-28 13:29] #59 closed

[2015-08-28 13:34] bjornblissing opened #60 "Previous perfHUD states gets remembered"
The perfHUD state gets remembered from last time the application was run. Which can result in both HealthAndSafetyWarning and perfHUD getting displayed at the same time during application start.

[2015-08-28 13:35] #60 closed

[2015-09-03 13:50] ChrisDenham commented on #55
Just wondering if anyone is likely to be working on the MSAA enhancement in the near future? I only ask because I was about to try and getting it working myself and didn't want to duplicate efforts.

[2015-09-07 09:32] bjornblissing opened #62 "Support enabling and disabling of positional tracking"
Support dynamical switching between having positional tracking on or off.

[2015-09-07 11:02] #62 closed

[2015-09-08 18:29] rooi opened #63 "Culling disabled"
Hi,

When I use the vierwer in combination with osgEarth, the memory usages get very high. This is especially true when using osgEarth image layers in the earth files.

Do you have any idea what could cause this?

I've tested this with osg 3.2.1 and the latest osgEarth master version. I could send you the code I used to run the osgEarth with your osgoculusviewer if you'd like.

Any hint would be v

[2015-09-08 21:19] rooi commented on #63
It seems that the following line causes this:

osg::Camera* OculusDevice::createRTTCamera(OculusDevice::Eye eye, osg::Transform::ReferenceFrame referenceFrame, const osg::Vec4& clearColor, osg::GraphicsContext* gc) const
{
.....
camera->setCullingMode(osg::CullSettings::DO_NOT_COMPUTE_NEAR_FAR);
.....
}

Why do you set DO_NOT_COMPUTE_NEAR_FAR?

Thanks!

Roy

[2015-09-08 22:22] ChrisDenham commented on #63
Interesting. I had to comment out that line too because I was finding that the cull pass didn't seem to work properly with it in. It seemed as though it was taking twice as long as normal to perform the cull and then not actually cull anything, which made the draw take longer too. So i guess what may be happening in your case is that nothing is getting paged out so you end up with the whole of you

[2015-09-09 07:37] bjornblissing commented on #63
Hi @rooi & @ChrisDenham,

It is usally better to handle the near and far plane calculation yourself. Normally you as the author would know the limits of your dataset and can adjust the near and far planes accordingly.

Also, If you let  OSG handle the near far plane calculation it would overwrite the projection matrices returned from the Oculus SDK:
https://github.com/bjornblissing/osgoculusviewer

[2015-09-09 08:36] ChrisDenham commented on #63
Hi @bjornblissing,
Thanks for the info. Though, I was already setting appropriate near and far clipping planes for my data as per your suggestion, I found that the culling still didn't work properly. For example when the slave cameras were facing away from all my scene data, the cull pass was not culling things which were clearly fully outside the viewing frustum of any camera. I could see in the

[2015-09-09 08:49] bjornblissing commented on #63
@ChrisDenham Is it only osgEarth based applications that behave like this. Or does viewing standard models benefit from enabling automatic near/far plane calculations?

The reason for my question is to try to find out if there is something special that osgEarth is doing that are complicating things.

[2015-09-09 10:24] ChrisDenham commented on #63
@bjornblissing I've not used osgEarth. My application is a fairly simple room design viewer that does not currently do any model paging. The scenes I'm viewing typically only contain a few hundred items (though some have quite high poly counts). However, generally I can get over 300FPS when using a 'standard' OSG viewer, but with the osgoculusviewer with automatic near/far plane calculation disabl

[2015-09-09 11:11] bjornblissing commented on #63
Ok.. Found it. Not an obvious bug.

It should *NOT* be: ```camera->setCullingMode(osg::CullSettings::DO_NOT_COMPUTE_NEAR_FAR);```

The enum ```osg::ComputeNearFarMode::DO_NOT_COMPUTE_NEAR_FAR``` is not a culling mode setting at all. It is an enum that handles how near and far planes are calculated. Its enum value corresponds to the value 0, which when feed into the setCullingMode() function will b

[2015-09-09 11:17] #63 closed

[2015-09-09 13:22] ChrisDenham commented on #63
Yay! Good catch. The odd behavior now makes perfect sense to me. :-)

[2015-09-09 15:50] ChrisDenham commented on #55
I've made some progress with this and it seems to be working well apart from some bad judder in the right eye (or left eye if I change the camera render order). Any ideas what I might be doing wrong? My guess was something to do with indexing of `SwapTextexureSet` when bliting the MSAA FBO back to the oculus texture, but so far it's got me stumped.

[2015-09-10 12:38] ChrisDenham commented on #55
If anyone fancies casting their eye over changes I made here to support MSAA, they are here, b6d4ccb35e41e5ebdd36040ce9d65f16f82013df

The problem I'm having is that although MSAA seems to be working correctly, I'm getting a "lag" in the right eye as you move your head (as though it was rendering the previous frame) but I can't see what I have done wrong. Note my changes might look a bit deeper th

[2015-09-14 07:42] rooi commented on #63
Ah thanks for the fix!

[2015-09-16 09:58] lpsandaruwan opened #65 "Cannot find Oculus debug libraries during CMake configuration"
I'm trying to build "osgoculusviewer" using, msvc 10, cmake 3.3.1, osg 3.0.1 and oculus sdk 0.7.0.0. And I'm getting this error while configuring cmake. Will be grateful for help. Thank you.
![untitled](https://cloud.githubusercontent.com/assets/5220773/9901778/665278f4-5c87-11e5-9392-a141dee1ed2f.png)

[2015-09-16 10:17] ChrisDenham commented on #65
Did you point CMAKE at your oculus SDK installation location?
I think if you setup an environment variable e.g.:
`OCULUS_SDK_ROOT_DIR=C:\OculusSDK`
it should work ok.

[2015-09-16 10:24] lpsandaruwan commented on #65
Yes. I did set the SDK location. But it didn't work.

[2015-09-16 10:29] bjornblissing commented on #65
Check if you have built the Oculus debug libraries. For some reason the Oculus SDK only comes with prebuilt libraries for release version.

But you can build them yourself by opening the following solution and build the debug version of libOVR:
`OculusSDK\v0.7.0.0\Samples\Projects\Windows\VS2010\Samples.sln`

[2015-09-16 10:31] lpsandaruwan commented on #65
Thank you very much, I'll try that.

[2015-09-16 10:44] bjornblissing commented on #65
I will see if I can modify the CMAKE script so that it won't require you to build the debug version and instead link to the release version, if no debug library is present.

[2015-09-16 11:02] #65 closed

[2015-09-16 16:40] ChrisDenham commented on #55
Ah ha... success today. MSAA now working well. I will submit another pull request with my changes once I've tidied up my code and made the antialiasing a runtime option. :-)

[2015-09-16 18:21] bjornblissing commented on #55
@ChrisDenham Great work! I am looking forward to that PR.

[2015-09-17 17:07] ChrisDenham opened #66 "Render Order applied to wide in 0.6 SDK version and view matrix offsets are negated"
I've just been checking though my changes for MSAA support and noticed that I had to put in a kludge to swap the left and right eye camera transforms. On investigation why that was necessary, it looks to me as though the problem may have arisen in the merging of changes to support Oculus 0.7.0.0 SDK, in 8076d605c3e5b078634fa05f55057c51516ee411
This change removed calls to a function named `renderO

[2015-09-17 21:20] bjornblissing commented on #66
In 0.6.0.1 SDK (and earlier) there was an field in the `ovrHmdDesc` struct called `EyeRenderOrder` which contained information on which eye that should be rendered first *(According to the header file this was to minimize latency on sideways-scanned screens).*

In 0.7.0.0 SDK this field is removed and the render order is hard coded in the examples. The `OculusDevice::renderOrder()` function was re

[2015-09-17 21:33] ChrisDenham commented on #66
Ah, ok, I'll investigate further then. However, I was fairly sure I was getting the same problem with a clean build of your master branch without any of my changes, so I'll check to confirm tomorrow.

[2015-09-18 08:57] ChrisDenham commented on #66
To test the problem I have set the clear color of left camera to red and also increased the eye separation like:
[code]
This is what I get after the 0.7.0.0 support was added:
![image](https://cloud.githubusercontent.com/assets/2325443/9955627/7a14a236-5dea-11e5-9a1d-ea05235b0f97.png)

So, you can see that although the left eye is now correctly rendering with the red background, it would appear to

[2015-09-18 10:33] ChrisDenham commented on #66
Ouch... it just occurred to me the consequences of this bug for users with asymmetrical eye offsets configured. Presumably the eye offsets configured in the Oculus Configuration Utility would also have swapped, which could have explained at least some of my headaches. lol.

[2015-09-18 10:49] bjornblissing commented on #66
So this is actually two errors.

First the result from the `renderOrder()` is applied way to wide. It should only be applied to the `camera::setRenderOrder()` function. Otherwise we need to setup our textures differently.

Secondly the view matrix offsets should be negated to give the correct result.

[2015-09-18 10:54] ChrisDenham commented on #66
Yeah, interestingly, two errors that very nearly cancelled each other out prior to the 0,7.0.0 changes. :-)

[2015-09-18 10:55] #66 closed

[2015-09-18 15:09] ChrisDenham commented on #55
Pull request here #67

[2015-09-22 07:20] #55 closed

[2015-09-23 03:30] west036 opened #68 "fbo does not have getHandle() method in osg 3.2.0"
fbo_ext->glBindFramebuffer(GL_FRAMEBUFFER_EXT, fbo->getHandle(ctx));

[2015-09-23 03:32] JeffBail commented on #68
It's an inline function so it's pretty easy to just grab it from a newer
version of OSG.

On Tue, Sep 22, 2015 at 11:30 PM, west036 <notifications@github.com> wrote:

--

*Jeff Bail * |  Senior Software Engineer
*VT MÄK  | *150 Cambridge Park Drive, Third Floor, Cambridge, MA 02140
T: +1.857.209.3501  |  F: +1.617.876.0032
jbail@mak.com  |  www.mak.com

[image: Linked In: company/MAK] <http://www.

[2015-09-23 03:43] west036 commented on #68
I don't want to upgrade to osg 3.4.0 nor rebuild osg 3.2.0, Is there anyway to fix this issue?

[2015-09-23 03:50] JeffBail commented on #68
You could probably subclass your own FBO object.

On Tue, Sep 22, 2015 at 11:43 PM, west036 <notifications@github.com> wrote:

--

*Jeff Bail * |  Senior Software Engineer
*VT MÄK  | *150 Cambridge Park Drive, Third Floor, Cambridge, MA 02140
T: +1.857.209.3501  |  F: +1.617.876.0032
jbail@mak.com  |  www.mak.com

[image: Linked In: company/MAK] <http://www.linkedin.com/company/mak> [image:
Twitte

[2015-09-23 06:42] ChrisDenham commented on #68
Would you be able to update to osg 3.2.1? I presume that must be very close to 3.2.0, and does have the fbo getHandle function.

[2015-09-23 07:16] bjornblissing commented on #68
Hi @west036
Since this is an open source project, which I work on mainly on my spare time, it is hard to keep the source compatible with all OSG versions. Even though I try my best.

I don't know your reasons for sticking with the 3.2.0 version of OSG, but maybe you could do as Chris says and update to 3.2.1?

In the future I am hoping to replace the current handling of the OculusTextures with new

[2015-09-24 01:10] west036 commented on #68
Thanks,the issue has been fixed.
I change _fboID from private to public in FrameBufferObject, and use fbo->_fboID[ctx] instead of fbo->getHandle(ctx),this seens work.

[2015-09-24 01:10] #68 closed

[2015-10-12 07:19] bjornblissing opened #70 "C++11 style variable intialization in oculusdevice.h"
`oculusdevice.h` contains variable initializations using C++11 style. This breaks compilation on Visual Studio 2010.

[2015-10-12 07:20] #70 closed

[2015-10-13 05:35] lpsandaruwan opened #71 "Is it possible to use OsgOculusViewer with FlightGear?"
I'm trying to build FlightGear (http://www.flightgear.org/) flight simulator using this library. Changing the default OSGView library for OSGOculusViewer library will help ?

[2015-10-13 07:22] bjornblissing commented on #71
I have never used FlightGear so I really can't say how replacing OSGView would work.

But note that FlightGear uses the GPLv2 license, so linking the Oculus SDK with FlightGear would probably be a violation against the license. Since the Oculus license is **not** GPL compatible.

See here for further information:
https://forums.oculus.com/viewtopic.php?t=487

[2015-10-22 08:41] bjornblissing opened #72 "Support 0.8.0.0 version of Oculus SDK"

[2015-10-22 08:44] #72 closed

[2015-10-22 09:29] bjornblissing opened #73 "Add support for layers of type EyeFovDepth"
To be able to use positional time warp the layer needs to be submitted as EyeFovDepth instead of EyeFov.

[2015-10-22 09:42] bjornblissing opened #74 "Use ovrSession instead of ovrHmd"
ovrHmd has been marked as deprecated and will be removed in future SDK versions.

[2015-10-22 10:53] #74 closed

[2015-10-23 14:34] bjornblissing opened #76 "Crash when no HMD plugged in"
The application crashes if we try to start without a HMD plugged in or a debug HMD configured in the *Oculus Configuration Utility*.

[2015-10-23 14:35] #76 closed

[2015-11-24 09:35] nicole8806 commented on #71
I have successfully use it with flightgear with the version 0.4.2. Today I find the 0.8 version, it is so different~

[2015-11-24 09:42] bjornblissing commented on #71
@nicole8806 As I previously said, linking the OculusSDK with FlightGear is violation of the GPLv2 license, since the Oculus license is **not** GPL compatible.

That said, the Oculus SDK have change a lot since 0.4.4. So major changes had to be made to OsgOculus as well, not much else I can do.

[2015-11-24 09:49] nicole8806 commented on #71
@bjornblissing , so I can only use the version before 0.4.4 to complete the work?
![Uploading FullSizeRender.jpg…]()
http://imgur.com/mV6AoKg

[2015-11-24 09:50] nicole8806 commented on #71
it is not stable

[2015-11-24 10:36] bjornblissing commented on #71
@nicole8806 I have no idea what work you are speaking about. As previously said I have no experience with the FlightGear codebase. In theory you should be able to integrate it, since FlightGear uses OpenSceneGraph. But doing it is a license violation of the GPLv2 license used in FlightGear.

**Remember that no version of the Oculus SDK is GPL compatible**

[2015-11-24 14:41] lpsandaruwan commented on #71
@nicole8806 how did you do it? any guide?

[2015-11-25 02:14] nicole8806 commented on #71
@lpsandaruwan ,I just use the 0.4.2 version, the change is very small but the final result is not stable. Now I am thinking about if the 0.8 version could get the better result.

[2015-11-25 11:29] bjornblissing commented on #71
@nicole8806 Could you expand a bit regarding the stability? What kind of issues are you seeing?

[2015-11-25 14:30] nicole8806 commented on #71
@bjornblissing , a bit shaking, not smooth, I will send yout the demo or give a video. now I think maybe it is for the frame rate is too high.

[2015-12-23 08:26] #24 closed

[2015-12-23 09:21] west036 opened #79 "RTT cameras jitter with DrawThreadPerContext model"
I use NodeTrackerManipulator in the scene to make the main camera tracking a flying plane, when I use the DrawThreadPerContext model, RTT cameras will jitter, especially the left RTT, this phenomenon seems to be slave cameras update before the master camera occasionally, resulting in non synchronization.
When using SingleThreaded model, there is no jitter, I also notice the SingleThreaded is force

[2015-12-23 09:28] Ghostbird opened #80 "Trouble compiling"
Can anyone give a pointer in the right direction? It doesn't seem to detect the OculusSDK.

[code]
So far I've been digging through the findOculus cmake file and related files and I've been unable to find out why it cannot find the Oculus SDK.

[2015-12-23 10:27] Ghostbird commented on #80
Using the CMake GUI I can see that it correctly sets OCULUS_SDK_INCLUDE_DIRS to OculusSDK\LibOVR\Include, but apparently it can't find (all that) it's looking for there.

[2015-12-23 12:33] bjornblissing commented on #80
Please note that Oculus ended Linux support with SDK 0.5.0.1 being the last version with Linux support.  So you have to use the corresponding tagged version/bransh of osgoculusviewer. The latest versions are windows exclusive.

[2015-12-23 12:43] Ghostbird commented on #80
I'm running windows, as you can see, the paths start with d:
I found a way around it. I removed the lines that marked the OCULUS_SDK_LIBRARY and OCULUS_SDK_LIBRARY_DEBUG as advanced, generated a new configuration, then manually set the values to the correct library files, this allowed me to continue.

[2015-12-23 12:43] #80 closed

[2015-12-23 14:31] bjornblissing commented on #79
All threading modes but ```SingleThreaded``` will introduce one frame of added latency. Which is why you are seeing jitter while using ```DrawThreadPerContext```.

See: http://forum.openscenegraph.org/viewtopic.php?p=62642#62642

[2015-12-23 17:56] bjornblissing commented on #80
Oh, sorry about that. I saw the Unix makefile and the .a file endings and assumed that you were compiling on Linux. Are you using MinGW?

[2016-01-11 17:23] ChrisDenham opened #81 "An OpenVR version of this viewer."
Just thought some might be interested in work I've been doing adapting this viewer to integrate via OpenVR API intead of Oculus SDK

https://github.com/ChrisDenham/osgopenvrviewer

My objective is to try and generalize the viewer to support any VR devices that have OpenVR compatibility. Though admittedly, so far, I've only tested it with Oculus DK2 headset, but fingers crossed...

[2016-01-12 15:16] bjornblissing commented on #81
@ChrisDenham Great!

This is something I have considered doing myself, but not had the time to try. (I have also wanted to try the OSVR HMD).

[2016-01-12 17:06] JeffBail commented on #81
I looked into OpenVR at the Boston VR hackathon a couple weeks ago but I've found that even the "empty grid entry room" of SteamVR runs terribly and the "field of cubes" example I built was even worse. One of the other hackers said it was because I was on Windows 7 which he said really doesn't work well with OpenVR. Which version of Windows have you been developing on?

I tried OSVR at the same ha

[2016-01-12 17:32] ChrisDenham commented on #81
I'm developing on Windows 8.1. It seemed smooth to me for release build. I'm fairly sure that the latest steamvr depends on OVR 0.8 for oculus support (well, at least it stopped working when I removed "C:\Windows\SysWOW64\LibOVRRT32_0_8.dll")

Have you got the latest steamvr installed?
How did the "hellovr_opengl" example perform for you?

BTW. I found that some mismatches between openvr and steam

[2016-01-12 23:21] ChrisDenham commented on #81
@JeffBail by the way, I'll be keen to know how you get on with the HTC Vive, so please let me know if there's anything I can help with to complete the test. It'll be great to escape being tied to only one HMD manufacturer.

[2016-01-13 05:57] JeffBail commented on #81
I'm on OVR 0.8. Our last Boston VR Devs hack was on December 12th and I was up to date on Steam and OpenVR as of then. I did try "hellovr_opengl" but it performed just as poorly as the "empty grid" initial SteamVR scene. I tried reducing the example down to just a couple of cubes and it didn't help. I updated SteamVR just now and the entry scene is still really slow. I thought it might have someth

[2016-01-13 09:43] ChrisDenham commented on #81
Sorry Jeff, I'm a bit of a social media luddite (i.e. no twitter or facebook). If you post questions on the issue tracker on https://github.com/ChrisDenham/osgopenvrviewer, I'll do my best to answer.

BTW. One oddity I noticed with the hellovr_opengl example was that it was doing the distortion correction twice, once for the mirror texture and again within the compositor for the HMD. So it might b

[2016-01-16 13:20] JeffBail commented on #81
One thing that might help is a room model. Just something simple that will allow me to test room-scale navigation. Some simple furniture and windows would help to make sure that the scale, field of view, etc are configured properly. Can either of you suggest something simple, free & compatible with OSG?

[2016-01-16 13:42] ChrisDenham commented on #81
I'll see if I can grab the export of the kitchen design I've been experimenting with and upload it somewhere for you. (Later today)

[2016-01-16 14:57] ChrisDenham commented on #81
Not sure how well this will design I exported from our full application to 3DS will work for you as it seems to have excluded the light, but it may give you an idea of scale, fov etc. Note that I think the world units are in millimetres, so you probably need to set worldUnitsPerMetre to 1000
Anyway, here's a download for a zip file containing the 3DS file and referenced textures:
https://drive.goo

[2016-01-17 18:04] JeffBail commented on #81
It might just be because I'm not at TOT OSG yet but do you have any ideas on this error:
1>viewerexample.cpp(30): error C2440: 'initializing' : cannot convert from 'osgGA::Event *' to 'osgGA::GUIEventAdapter *'

[2016-01-17 18:25] JeffBail commented on #81
I threw in a dynamic_cast and got it to compile, I'll see if it actually runs.

[2016-01-17 19:20] ChrisDenham commented on #81
Oh. That's odd. I'll check tomorrow, but yeah, the dynamic cast looks like it would be necessary, but pretty sure it compiled for me. Though admittedy I only got around to testing it with OSG 3.2.1

[2016-01-17 20:06] JeffBail commented on #81
I have a cow on the Vive!! Pretty happy to get this hello world working but the head tracking is definitely broken; it's almost like some of the axes are reversed or transposed or something. Only a few hours left here at the hack but I'll work on it. I'll push my diffs at the end of the day.

[2016-01-17 20:17] JeffBail commented on #81
I fixed orientation tracking by commenting out the cameraManipulator->setHomePosition. Not much time left here but moving on to positional tracking!

[2016-01-17 20:52] JeffBail commented on #81
I got positional working by changing the preMult in OpenVRUpdateSlaveCallback::updateSlave to just a regular setTrans. I'm fighting off the sim sickness and moving on to hand tracking! First I'll check the Vive Pre and make sure it works there too (been testing on the VDK1's because there's more availability).

[2016-01-17 21:55] ChrisDenham commented on #81
I wonder if the changes you needed to make will break it for the oculus? I hoped that openvr would make an HMD neutral interface.

[2016-01-18 03:10] JeffBail commented on #81
I retested on the DK2 and things still seem to work fine. I was unable to push my changes due to a 403 error. Do I need to be added to the project or am I just doing it wrong?

[2016-01-18 03:20] JeffBail commented on #81
The Vive Pre also works! I retested the DK2 and it seems fine. I submitted a pull request, give it a test and let me know if it's still working for you. Unfortunately I didn't get too far with hand tracking; I could only test by copying onto a USB drive and waiting in line to get on a Vive. Maybe next time.

[2016-01-19 20:52] bjornblissing commented on #81
@ChrisDenham @JeffBail This discussion should probably be moved to an issue at the osgopenvrviewer repository instead.

[2016-03-28 20:36] bjornblissing opened #82 "Support 1.3.0.0 version of Oculus SDK"

[2016-03-30 14:35] cbuchner1 commented on #82
ACK! this would be very much appreciated.

[2016-03-31 11:10] #82 closed

[2016-03-31 11:24] bjornblissing commented on #52
In the 1.3 SDK there is a new function `ovr_GetSessionStatus::ShouldRecenter` which should be used to trigger `ovr_RecenterTrackingOrigin` when needed.

[2016-03-31 11:28] bjornblissing opened #83 "Use VR Focus Management"
VR Focus Management is needed to be able to deliver stable applications to Oculus Home.

This includes handling the following events:
- [ ] Managing When a User Quits
- [ ] Managing When a User Requests Recentering
- [ ] Managing an Unplugged Headset
- [ ] Managing an Unavailable Headset
- [ ] Managing Loss of Windows Focus

[2016-03-31 11:36] bjornblissing commented on #83
This is related to #49.

[2016-05-09 02:58] xinbada007 opened #84 "crashes with intel HD 5000 + i7-4650u + 8gb ram + windows 10"
Commit: e2447e5515674377fd8aec71c050d211f18828e2
OculusSDK: 0.8.0.0 with DK2

When trying to run my program on a laptop with Intel HD5000 + i7-4650u + 8gb ram + win10, it breaks at the following point:
Cpp File: oculusdevice.cpp
Function: OculusMirrorTexture::OculusMirrorTexture
Breakpoint: fbo_ext->glFramebufferTexture2D(GL_READ_FRAMEBUFFER_EXT, GL_COLOR_ATTACHMENT0_EXT, GL_TEXTURE_2D, m_texture-

[2016-05-09 03:29] xinbada007 commented on #84
Updates: spared some time to debug the code using oculusviewer example program. I found that the struct "m_texture" is NULL when passing to glFramebufferTexture2D. Probably it is not created successfully???

[2016-05-09 04:27] xinbada007 commented on #84
last update: OK guys. seems like not your problem. I have tried official example programs (tinyroom, worlddemo). These program only works with DirectX, the GL version crashes as well. I guess OculusSDK implemented some wired OpenGL things.

[2016-05-09 08:37] bjornblissing commented on #84
Hi @xinbada007

The Intel Graphics cards are not officially supported by Oculus, neither are most laptops.
https://www.oculus.com/en-us/blog/powering-the-rift/

[2016-06-21 14:52] rickyviking opened #85 "Enable change of mirror texture size"
At the moment the mirror texture size is hard-coded to half of the Oculus screen size.
I'd like to submit a pull request exposing a way to set it.
Just a couple of questions to use as guidelines:
- should I specify the mirror tex size as percentage of the Oculus screen size or explicitly in pixels (for the mirror width, with the height computed accordingly to the Oculus ar) ?
- I would probably ex

[2016-06-21 14:55] bjornblissing commented on #85
I think that a specifying in pixel size is preferable.

And exposing it in the constructor would probably be the simplest way of doing. I would suggest that you add some default values.

[2016-06-22 10:50] rickyviking commented on #85
I've submitted the pull request: https://github.com/bjornblissing/osgoculusviewer/pull/86
It is based on the branch sdk-v0.8 which I'm currently using, but cherry picking to master should work as well.

[2016-06-24 03:00] sczhaoyu opened #87 "your OSG version?"
your OSG version?

visual studio  version ?

[2016-06-25 05:43] bjornblissing commented on #87
I personally use Visual Studio 2015 with OSG 3.4.0. But I think this project works with the 3.2 branch as well.

Are you having problems compiling?

[2016-06-25 09:10] bjornblissing commented on #85
Merged to 0.8, 1.3, 1.4 and master branch.

[2016-06-25 09:10] #85 closed

[2016-06-28 07:34] sczhaoyu commented on #87
No problem,Thanks.

[2016-06-28 07:36] bjornblissing commented on #87
So why do you ask??

[2016-06-28 09:49] sczhaoyu commented on #87
Because I have a glass frame on the screen,I don't know how to cancel.

[2016-06-28 10:34] bjornblissing commented on #87
Sorry, I have no clue what you are talking about...

[2016-06-28 10:34] #87 closed

[2016-06-28 10:37] #84 closed

[2016-06-28 10:49] #79 closed

[2016-06-28 10:50] #81 closed

[2016-07-01 08:53] bjornblissing commented on #49
@Thantalos I just tried your example with v1.5 of the Oculus runtime. And it do not crash anymore, so Oculus must have plugged this bug. But I am not entirely happy with not closing the resources correctly when destroying the mirror texture.

I have submitted a pull request to the OpenSceneGraph project which includes a cleanUp operator for the graphic contexts (openscenegraph/OpenSceneGraph@ed7d4

[2016-07-04 13:32] rickyviking opened #88 "Crash on exit"
After updating to branch 1.5.0 I get a crash on exit on the OculusViewerExample application, as well as on other apps I'm using the library with.
My config is:
- win 10
- VisualStudio 2013
- Oculus SDK 1.5.0
- osgOculusViewer rev 8d7e555a5cfc690127f3e520399e08f3a39f4070

I don't know if this is related somehow to https://github.com/bjornblissing/osgoculusviewer/issues/49

[2016-07-04 22:32] bjornblissing commented on #88
Strange! I was not able to get this behavior even though I tried.

I have just pushed a special feature branch which tries to remedy these issues. Would you mind trying it out? It can be found here:
https://github.com/bjornblissing/osgoculusviewer/tree/feature/CleanupOnExit

Note that this branch requires you to compile against the current master of OpenSceneGraph. Since the required cleanupOperat

[2016-07-05 09:13] rickyviking commented on #88
I have investigated a bit further and it turns out it was a **driver** issue.
I've updated nVidia driver to 368.39 and the crash went away.
I've haven't tested your patch then, cannot comment on it atm.

[2016-07-29 20:58] CambridgePark opened #89 "Jitter in Oculus CV1"
I compiled the OculusViewerExample.exe and when I run it the cow displays, but there is considerable jitter when I move my head (Oculus CV1). The jitter is not present on the computer monitor view, only in the Oculus itself. Wondering if anyone else is seeing this issue. If yes, is this a code issue or computer system issue.

[2016-07-29 23:05] bjornblissing commented on #89
Make sure that you have not forced V-sync off in the graphics driver settings.

[2016-08-08 08:46] bjornblissing commented on #89
@CambridgePark Did my suggestion help your Jitter issues?

[2016-08-11 17:18] CambridgePark commented on #89
The V-Sync is on and there is still jitter.

[2016-08-12 07:18] bjornblissing commented on #89
@CambridgePark V-Sync should **NOT** be enabled.

The default settings for most graphic cards is to have this setting application controlled. If if set like that then OsgOculusViewer will handle the disabling of vsync automatic. BUT if you have forced V-sync ON then you will get jitter.

Other common jitter sources is that the computer is not powerful enough for the geometry you are displaying. Pr

[2016-11-11 02:34] sczhaoyu opened #90 "Problem: assemble FlightGear on SDK"
When I'm assembling FlightFear on SDK, the picture appeared to be a slight tilted. The users of FlightFear are still craving to solve this problem.
Our project only needs this last step to finish the work.

https://sourceforge.net/projects/flightgear/

[2016-11-11 12:08] bjornblissing commented on #90
Hi @sczhaoyu

There are two problems with your issue:

### 1
FlightGear uses the GPLv2 license, so linking the Oculus SDK with FlightGear would probably be a violation against the license. Since the Oculus license is not GPL compatible. If the FlightGear community desire to use the Oculus SDK they would be forced to release FlightGear under a more permissive license.

See here for further informat

[2016-11-11 12:09] bjornblissing commented on #89
@CambridgePark did you solve your jitter issues?

[2016-11-16 10:14] sczhaoyu commented on #90
@bjornblissing:
   My problem is to solve thank you。

[2016-11-16 10:40] #90 closed

[2017-01-11 16:04] sczhaoyu opened #91 "SOS：my frame falls down really quick！"
When I'm integrating VR glasses in OSG, the frame falls down sharply from 120 to 45.
I'm integrating the project of flightgear, and I met performance bottleneck.
thw problem i met was picture tremble, the infrared locator doesn't work at USB3.0.
The biggest problem is the reduce of rendering frame rate.

[2017-01-11 16:09] sczhaoyu commented on #91
My Oculus SDK 1.10.1 i hope to make optimization.

[2017-01-11 18:20] bjornblissing commented on #91
Did this problem start when you updated to Oculus SDK 1.10.1?

[2017-01-12 08:13] sczhaoyu commented on #91
My Oculus SDK's version is 1.10.1.
Oculus APP Version Update to the latest。
This version has a delay problem both on locator and head sensor. It could make picture  chattering and flicker. Could you please resolve it?

[2017-01-12 12:14] bjornblissing commented on #91
The only difference between this version of the Oculus SDK and the previous is that Asynchronous Spacewarp have been enabled as default. Maybe this is something that you need to disable. Although I have no information if it is possible nor how to do it.

[2017-01-12 21:40] bjornblissing commented on #89
Closed due to lack of information.

[2017-01-12 21:40] #89 closed

[2017-01-12 21:57] #88 closed

[2017-02-14 12:33] sczhaoyu opened #92 "Can't see screen statis"
Hell   bjornblissing:
   Press S key, Can't see  screen  statis.

[2017-02-15 06:43] #91 closed

[2017-05-26 09:46] sczhaoyu commented on #92
@bjornblissing

[2017-05-26 10:38] bjornblissing commented on #92
@sczhaoyu the statistics are available by pressing: 1, 2, 3, 4 on the keyboard. Press 0 to remove the statistics view.

[2017-08-23 03:32] sczhaoyu commented on #92
thanks

[2017-08-23 03:33] #92 closed

[2017-09-26 08:31] KikoVR opened #93 "Where to put cow.osgt ?"
Hi Bjorn,

Really sorry in advance for this nerd question but I am quite new to OSG..

I have actually built your OculusViewerExample with Oculus SDK 1.6 as it was the last tested, and I have the following message : `No model could be loaded and didn't find cow.osgt, terminating..`

I've tried to put the cow.osgt in the same folder than the .exe file, but nothing better..

I actually don't know wh

[2017-10-11 09:32] bjornblissing commented on #93
@KikoVR Can you load the cow model with standard osgviewer?

Usually when models refuse to load there is some problem with either the path or the file reader plugins.

[2017-10-18 18:34] KikoVR commented on #93
Hi Bjorn,

Actually, no... (I discovered this after)

I am actually trying to solve that problem, which is strange because my
PATH is correctly set (I guess).

Thanks for your answer

2017-10-11 11:33 GMT+02:00 Björn Blissing <notifications@github.com>:

[2017-10-19 08:29] ChrisDenham commented on #93
Have you tried using the full path of the osg file, or dragging cow.osg on to osgviewer.exe? If that works then you probably just need to define the OSG_FILE_PATH environment variable to point at the folder location. If it doesn't work, it may mean you are missing the osg plugin required to load that file type.

[2017-10-19 09:10] KikoVR commented on #93
Hi,

Thank you for your answer.

I tried copying cow.osg to the folder of osgviewer.exe but this did not
change anything. However, after adding PATH variables as you suggested, it
works ! And then, I was also able to build and use the OculusViewerExample.

Thank you very much !

Best regards

2017-10-19 10:29 GMT+02:00 ChrisDenham <notifications@github.com>:

[2017-10-19 09:31] ChrisDenham commented on #93
cool.
btw. when i suggested dragging cow.osg to osgviewer.exe, I meant on to the exe itself, i.e. not copying the file but launching osgviewer with the full path of cow.osg as a parameter. usually works on windows at least.

[2017-10-19 09:36] #93 closed

[2017-11-16 15:24] KikoVR opened #94 "Distorted image when bending the head on a side"
Hi,

I've been integrating your work into an existing 3D application based on OSG (with hundreds of child in the scene graph)
I have good results, but for some reason, I noticed the following :
- Image are flattened horizontally (not vertically)
- When bending the head on a side, the models are getting distorted (if I bend left, all vertical lines also bend left)

I don't experiment those problems

[2017-11-16 15:31] bjornblissing commented on #94
Sorry, I do not.

My best guess is that you are doing something wrong with your view matrix. But it is hard to say what. Try posting to the OpenSceneGraph forum. Describe your problem in detail and include a screenshot. Hopefully someone can help you further.

[2017-11-16 15:31] #94 closed

[2017-11-23 09:04] Zeyuan-Ma opened #95 "Render controllers"
I tried to render controllers. And it works. I want to dicuss something about render contorllers.
Can you help me?

[2017-11-24 14:07] bjornblissing commented on #95
Please keep general discussions away from the issue tracker.
Instead use the OpenSceneGraph forum.

[2017-11-24 14:07] #95 closed

[2017-11-27 14:45] KikoVR opened #96 "Error in eyes offset ?"
Hi,

When I try to integrate osgoculus viewer in my own app, I have a very uncomfortable feeling that my left eye and right eye are significantly inverted in the HMD.

I did not remember I had this feeling with the viewer example and the cow.

However, when looking more carefully to the viewerexample with the cow, I tried to close one eye, and then the other. I also tried to approach the moment wh

[2017-11-27 19:51] bjornblissing commented on #96
This looks really weird. I will have to dig into this to see if I can reproduce the error.

Some quick questions:
- Are you using the latest commit of osgoculusviewer?
- Which version of the Oculus SDK are you compiling against?
- Are you running this on a consumer version of the Oculus Rift (aka. CV1)?

[2017-11-27 21:06] KikoVR commented on #96
Thanks for the feedback !

Actually I was not chocked about this when using the cow example i.e. I
thought the image was correct although I felt a little something strange.
This is only when trying to look into more details because of the problem I
have in my app that I could put this in evidence.

Yes I am using last version of osgoculus, Oculus SDK 1.17, and running a
consumer version of the Rif

[2017-11-30 13:58] KikoVR commented on #96
Hi Bjorn,

Have you got any time to try to reproduce this ?

I just wanted to tell you that I realized that this effect was hardly noticeable for object in the background, far from the camera, but that this is really strong when the object is near the eyes of the user.

So the effect is actually the same in the viewer example and in my app, but it just looks stronger in my app because of the fact

[2017-12-01 09:15] bjornblissing commented on #96
I have been able to reproduce this error. This is definitively a bug.

[2017-12-01 09:27] KikoVR commented on #96
OK. I tested back with you previous code (before the recent update) and SDK Oculus 1.6 (last SDK supported before) and I could not reproduce this.

So this looks really linked to the recent update

[2017-12-01 09:30] bjornblissing commented on #96
Since Oculus SDK 1.17 the EyeOffset is no longer a pure translation. Instead you receive a full pose structure, i.e. both translation and orientation. I suspect that something goes wrong when OsgOculusViewer applies this struct.

[2017-12-01 09:41] KikoVR commented on #96
Maybe this is linked to what you just wrote, but I just found an additional "weird" behavior.

Not only my eyes are "inverted", as explained above, but also there seem to be a problem with orientation because for instance, my right eye view, which gives me the impression to be actually more left than my left eye view, have actually a further FOV on the right as you can see on the screenshot below.

[2017-12-01 10:13] ChrisDenham commented on #96
Not sure if this is relevant, but flipped eye offset problem rang some bells, so I wondered if the problem was in any way connected with #66 ?

[2017-12-01 12:12] bjornblissing commented on #96
Well I have looked into the problem. A I cannot really see the error right now.

The response from the `ovr_CalcEyePoses()` gives me zero rotation of the eyes and the position offset only adjusted for the X-axis; negative for the left eye and positive for the right eye. Which should correlate with the OpenGL coordinates.

I guess I have to start dig deeper. The OpenGL example (*OculusRoomTiny(GL)*

[2017-12-01 12:33] bjornblissing commented on #96
I just compared the resulting view matrix from the 1.10 version of OsgOculusViewer to the present on. And the only difference is the negated translations of the eye offset. So a quick fix should be to just negate the values.

[2017-12-01 12:42] bjornblissing commented on #96
I think I need to do some major refactoring to be able to use the same solution as the *OculusRoomTiny(GL)* example. So I will commit the quick fix as an interim solution.

[2017-12-01 12:45] KikoVR commented on #96
Hi Bjorn,

Thank you so much for your reactivity.

I'll try it right now.

Best regards

[2017-12-05 15:16] #49 closed

[2017-12-05 15:24] bjornblissing commented on #96
Hi @KikoVR

I have changed how the view and projection matrix are built. Now I am mimicking the *OculusRoomTiny(GL)* example and use `ovr_GetEyePoses()`, instead of `ovr_CalcEyePoses()`.

By doing this I could remove a lot of code minimizing the room for error. And I think it looks correct. But it would be great if you could check it as well.

This change has been commited as: 05f9d63879079b21977a

[2017-12-13 09:02] KikoVR commented on #96
Hi Bjorn,

Sorry for the delay.

I will check by tomorrow and come back to you with my observations.

Thanks

2017-12-05 16:24 GMT+01:00 Björn Blissing <notifications@github.com>:

[2017-12-14 17:10] KikoVR commented on #96
Hi Bjorn,

I checked and it is working fine for me !

I noticed 2 minor things :
- the view for each eye looks much less different than before. Indeed, if
you compared the 2 eyes previously, there was a big difference due to
ey-offset. Right now, the 2 images for Left and Right eye really look to be
the same (as if the IPD were really low). I cannot say if it is better or
worst, I just noticed thi

[2017-12-14 22:20] bjornblissing commented on #96
Well, I do agree that the eye separation seems very small. It do not really seem right. I suspect that something gets scaled wrong, but I cannot really track down the reason for this. *(To make matters worse, my Rift unit broke the other day. So right now I am unable to test anything. Currently waiting for Oculus to process my RMA)*.

But I think that I will reopen this issue and try to solve it a

[2018-01-01 18:13] #96 closed

[2018-01-01 18:23] bjornblissing commented on #96
I have fixed this issue in both the master branch and in the 1.19.0 branch.

The reason for this error was that the eye offset (IPD) was canceled out due to applying inverse of the translation and orientation from the `getEyeRenderDesc()` function, then applying the translation and orientation from the `ovr_GetEyePoses()` function. This resulted in the IPD being very close to zero.

The result fro

[2018-01-10 15:46] bjornblissing commented on #52
Unable to reproduce the error using the current version of the Oculus SDK (1.20.0).

[2018-01-10 15:46] #52 closed

[2018-01-24 16:36] KikoVR commented on #96
Hi Bjorn,

Sorry for my late reply. Just wanted to tell you I tested it and it works
fine !

Now the IPD is indeed more remarkable and the overall experience better.

Thanks again for your work

Best regards,

2018-01-01 19:23 GMT+01:00 Björn Blissing <notifications@github.com>:

[2018-08-22 08:11] wsljt19940218 opened #97 "OculusViewerExample.exe error"
Hello,when i run OculusViewerExample.exe，a mistake happened.

OVR Error:
 Code: -1015 -- ovrError_InvalidOperation
 Description: EndFrame called before BeginFrame.
 OVRTime: 168077.398833
 Time: 2018-08-22 15:45:13 [865:635:100]
Can you help me to solve the problem?

[2018-08-25 08:09] wsljt19940218 commented on #97
I really appreciate for bjornblissing's generous help.
Just  adding the path to a test model in properties,now it's works very well.
Once again,i would like to thank the author very sincerely.

[2018-08-28 13:51] #97 closed

[2019-06-17 20:11] rickyviking opened #100 "Is SingleThreaded the mandatory threading option?"
Hi @bjornblissing,

the viewer example forces the osg threading model to SingleThreaded - see [here](https://github.com/bjornblissing/osgoculusviewer/blob/master/src/viewerexample.cpp#L72).
Is this actually mandatory?
With CPU-bound scenes, using other schemes such as DrawThreadPerContext might help to improve the framerate.

[2019-06-17 21:07] bjornblissing commented on #100
If I remember correctly the single threaded model is the model with the lowest latency. Other threading models may add another frame of latency, at least according to Robert's answer in this old thread:
http://forum.openscenegraph.org/viewtopic.php?p=62642#62642

However this *might* be an old and outdated truth.

[2019-06-18 07:32] bjornblissing commented on #100
One way to test other threading models would be to use the Oculus Debug Tool to print some performance diagnostics and then changing between different threading models. For your application some other threading model might be more preferable compared to running single threaded.

https://developer.oculus.com/documentation/pcsdk/latest/concepts/dg-debug-tool/

[2019-06-18 15:21] rickyviking commented on #100
Thank you, I will definitely give it a try and report back here!

Besides the latency, I was wandering if there were any other issue related to how fbo cameras are sent to the Oculus, as the comment above the line which forces SingleThreaded states:
_// Force single threaded to make sure that no other thread can use the GL context_

[2019-07-19 14:24] rickyviking commented on #100
Hi @bjornblissing
apparently there are no issues using other threading models (I've mostly used DrawThreadPerContext) and investigating if/how much performance gain I get from that.

As a side question (we might open another issue if appropriate) I'd like to know what is the suggested way to add the osg stats (and possibly other HUDs) on top of the preview window.
Is there a clean way to render th

[2020-12-10 14:58] tfurlong opened #101 "Stutter during head movement in Oculus Quest and Quest 2"
I think this issue may exist in the Rift as well, but it is much less noticeable. When using the Oculus Quest or Quest 2 and an Oculus Link cable, the image jitters when there is head motion. It can be seen in the mirror view as well as black lines that appear on the sides of the frame. I think the issue may have something to do with TimeWarp because more prediction is required using the Quest/Lin

[2020-12-10 18:11] tfurlong commented on #101
This line in OculusDevice::beginFrame looks incorrect, but removing it does not improve the problem:
`m_sensorSampleTime = ovr_GetPredictedDisplayTime(m_session, frameIndex);`

[2020-12-10 19:56] tfurlong commented on #101
The problem does not occur if samples=0 in viewerexample.cpp (default is 4). That is a suitable workaround for me.

[2020-12-11 07:59] bjornblissing commented on #101
First of all, great that this library seems to work on the Quest/Link setup as well.

I have some follow up questions. Are you seeing this issues even with simple models like the `cow.osg`?
What configuration are you running on. I have seen some really strange performance problems with computers connected to monitors via DisplayPort->HMDI converters.

Another thing you can try is to change the thr

[2020-12-11 08:40] bjornblissing commented on #101
Sorry, I fail to see what is wrong with this line?

[2020-12-11 14:26] tfurlong commented on #101
Thanks for the quick reply! I've personally tried 2 different PCs with Quest 1 & 2 and an official and an unofficial Link cable. I also had my colleagues try it out on their Quest & Rift configurations. It seems to be the most pronounced on the Quest 2, which is why I was originally thinking it was due to the motion prediction code. It is pretty obvious with just the cow.osgt model, no need to try

[2020-12-11 17:17] bjornblissing commented on #101
Well, what I actually meant that I have seen issues when the cable connecting the computer and standard monitor will affect the frame rate inside the HMD. In my case, it was related to connecting a HDMI monitor via a DisplayPort output via a passive converter. This locked the frame rate inside the HMD to the same frame rate as in the monitor, and the result was severe stuttering due to missed fram

[2020-12-11 18:58] bjornblissing commented on #101
I have just pushed a update which contain support for `ovrLayerType_EyeFovDepth`. This update should handle the new timewarp features better. Hopefully this will solve your issues.

[2020-12-11 20:23] tfurlong commented on #101
On the cable connection question, I understand now. One PC has a direct DisplayPort to a monitor, and another has a direct HDMI. Both see the same issue. I just tried modifying NVIDIA vsync settings on a per-application basis, and I think that the behavior changed whether vsync was enabled or not, but neither setting eliminated the stuttering.

I tried the latest code, and unfortunately it is wors

[2020-12-11 22:36] bjornblissing commented on #101
Ok. So moving to the depth aware timewarp was not the solution to your issues. I guess I will need to provide support for both the traditional warp and the depth aware version.

Have you tried to enable any of the Oculus debug screens to try to find any clues to your performance issues?

[2020-12-13 20:21] bjornblissing commented on #101
**Another question:** Do you see the same type of issues in the official samples from Oculus, i.e. `OculusRoomTiny_GL`?

[2020-12-13 20:34] tfurlong commented on #101
No I don't see these issues in any other app.

[2020-12-13 23:41] bjornblissing commented on #101
Strange! The `OculusRoomTiny_GL` should be using pretty much the same exact OpenGL calls as this library, so I would expect them to perform similarly... But apparently not...

[2020-12-14 13:59] tfurlong commented on #101
I noticed that too, especially with your recent updates to use the depth texture. Is it something on the OSG side? Something that adds additional or inconsistent delay that the Oculus library doesn't see?

[2020-12-14 14:05] bjornblissing commented on #101
And the problems are only present (or at least detectable) on the Quest/Link combination.
I cannot see any issues when running with the Oculus Rift S.

[2020-12-14 14:10] tfurlong commented on #101
Yes, only for Quest/Link. I've tried on a Rift CV1, and a team member has tried on a Rift S. That's the reason I was thinking it was related to the time warp functionality. The Quest/Link combo has to encode video frames and push them out over USB, which means it relies more heavily on prediction than a Rift would.

[2020-12-14 14:13] bjornblissing commented on #101
Did you try the suggestion of raising the process priority on the `ovrserver_x64.exe`?

[2020-12-14 21:43] tfurlong commented on #101
Just did, did not seem to have an effect.

[2020-12-15 19:25] tfurlong commented on #101
Is it possible this issue comes from which version of OSG I am using? We are currently at version 3.4.1.

[2020-12-16 13:37] bjornblissing commented on #101
Ok.. So then we can rule out the `ovrserver_x64.exe` process.

It might be the reason, but I don't really see *why* it should be an issue. However, I am running 3.6.4 in my development environment.

[2020-12-24 14:23] yuhubuxi opened #102 "Does it support controller tracking?"
Can the controller track? Can I see the controller in the field of view?

[2020-12-25 16:16] bjornblissing commented on #102
Yes, the library support the controllers:

https://github.com/bjornblissing/osgoculusviewer/blob/2d6d16f3e9e63253d157ea6d403838fb371332af/include/oculusdevice.h#L88-L93

Although the viewer example currently only use the analog sticks to rotate the model and to zoom in and out.

But, there is currently no model of the controllers visible.

[2020-12-28 17:01] rickyviking opened #107 "Add DLL import/export directive"
I think it might be useful to add DLL import directive before the classes defined by the project, to make them ready to use when the OsgOculus library is built as DLL and used in other DLLs/executables.

If you agree, I can propose a stub through a PR.

[2020-12-28 20:28] bjornblissing commented on #107
Sure, send me a PR with a stub.

[2020-12-29 16:44] rickyviking commented on #107
Ok, see PR https://github.com/bjornblissing/osgoculusviewer/pull/108
The oculusconfig.h file is included in "" quotes, to make it easier to include the library in bigger project using a subdirectory

[2021-01-18 14:36] bjornblissing commented on #73
Added in 1ba432fde17b7b893c65a1299301957cc42578aa

[2021-01-18 14:36] #73 closed

[2021-07-07 04:55] keugbang opened #109 "How can I enable stencil functionality?"
Hello,
I was wondering how to enable the stencil functionality.
I simply thought that modifying `OculusDevice::createRTTCamera` would make it work but failed.

What I did was to add stencil buffer bit to the camera clear mask, and replace depth buffer attachment with the following statement:
`camera->attach(osg::Camera::PACKED_DEPTH_STENCIL_BUFFER, GL_DEPTH_STENCIL_EXT);`

[2021-07-10 15:33] bjornblissing commented on #109
I am a bit unsure of what you are trying to achieve. However, the Oculus SDK uses the depth buffer for Asynchronous Spacewarp calculations, so modifications of the depth buffer might have unexpected consequences.

[2021-07-18 22:11] keugbang commented on #109
Could there be a way to add stencil buffer in addition to the existing depth buffer?
Please forgive me. I may be asking a silly question since my knowledge in OSG and Oculus is limited.
I am trying to implement a Head Up Display where symbols are projected onto the transparent mirror.
I was able to achieve this before with general(?) OSG viewer setup and now I am trying to make it work with the Oc

[2021-07-19 10:57] bjornblissing commented on #109
The Oculus SDK have a functionality called layers. There exists a separate layer type called `Quad` which should be used for HeadUpDisplays and similar head locked graphics:
https://developer.oculus.com/documentation/native/pc/dg-render/#layers

[2021-07-19 22:53] keugbang commented on #109
I am sorry that I didn’t explain in detail.
What I meant by Head Up Display was a 3D model of a HUD in a fighter aircraft where information is projected on to the transparent mirror in front of the cockpit.
The ‘quad’ layer of Oculus SDK looks like a 2D screen-fixed overlay.